
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>cFood</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="../img/cfood.png" alt="">
            </div>
            <div class="col-md-6">
                <h2>About cFood</h2>
                <p>From Hong Kong the international multicultural city, the creators of cFood have tasted all kinds of delicious cuisines originated from countries around the world. They realized that it is very difficult to find food that could surprise them.</p>
                <p>One day they read a news clip about Japanese journalists taking on a challenge on having a meal at the Ming General Japanese Sushi Restaurant in Hong Kong, which is well known for their "innovation" in Sushi ingredient choice. Their "revolutionary" sushi combination has been described to have the ability to "open the Hell's gate". This inspired the creators of cFood to create a platform to collect similar "Hell restaurants" and gain excitement from challenging themselves with these food.</p>
                <p>Let's share the excitement in our daily meal!</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../img/noidea.jpg" alt="">
                    <div class="caption">
                        <h3>The Magic Man<br>
                            <small>Everything</small>
                        </h3>
                        <p>One picture tells the story of development of this website.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/kobeengineer/"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/ProgrammerWorld"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../img/trap.gif" alt="">
                    <div class="caption">
                        <h3>Ackbar<br>
                            <small>Everything 2</small>
                        </h3>
                        <p>Story of my life.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/pages/Admiral-Ackbar/113163472029997"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/_Admiral_Ackbar"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../img/codeworks.png" alt="">
                    <div class="caption">
                        <h3>Wilson guy<br>
                            <small>Everything 3</small>
                        </h3>
                        <p>The similarities between us and him is that we are stuck in desparation and we are not paid for it.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        <hr>
