<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

<script type="text/javascript" type="text/javascript">
  // Connecting to ROS
  // -----------------

  var ros = new ROSLIB.Ros({
    url : 'ws://172.18.11.132:9090'
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });



  // Subscribing to a Topic
  // ----------------------

  var listener = new ROSLIB.Topic({
    ros : ros,
    //topic name
    name : '/confirm',
    messageType : 'std_msgs/String'
  });

  listener.subscribe(function(message) {
    console.log('Received message on ' + listener.name + ': ' + message.data);
    console.log("finish received");  
    if(message.data == "confirm")
    {
        document.getElementById("button-wn-show-preset").click();
        console.log("ye");
        //post form
        document.getElementById("submit").click();
    }

    listener.unsubscribe();
  });
</script>
 

<!-- Page Heading/Breadcrumbs -->
<div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">combine</h1>
          <ol class="breadcrumb">
              <li><a href="/">Home</a>
              </li>
              <li class="active">combine</li>
          </ol>
      </div>
</div>

<div class="row">
      <div class="col-md-10">

            <form id="testing" name="testing"  method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                <button id="submit" type="submit" class="btn btn-primary" style="display: none;">Submit</button>
                </div>
            </div>
          </form>
          <button  type="button" id="button-wn-show-preset" class="btn btn-default" style="display: none;">Notification</button>
      </div>
</div>

<script>
      //testing broswer capability
      if (!('Notification' in window)) {
        document.getElementById('wn-unsupported').classList.remove('hidden');
        document.getElementById('button-wn-show-preset').setAttribute('disabled', 'disabled');
        document.getElementById('button-wn-show-custom').setAttribute('disabled', 'disabled');
        console.log("broswer not unsupported");
      } else {
        var log = document.getElementById('log');
        var notificationEvents = ['onclick', 'onshow', 'onerror', 'onclose'];

        function notifyUser(event) {
          var title;
          var options;

          event.preventDefault();

          if (event.target.id === 'button-wn-show-preset') {
            title = 'Package received';
            options = {
              body: 'Delivery success',
              tag: 'preset',
              icon: '../img/logo.png'
            };
          } else {
            title = document.getElementById('title').value;
            options = {
              body: document.getElementById('body').value,
              tag: 'custom',
              icon: '../img/123.jpg'
            };
          }

          Notification.requestPermission(function() {
            var notification = new Notification(title, options);

            // check event print on log
            notificationEvents.forEach(function(eventName) {
              notification[eventName] = function(event) {
                log.innerHTML = 'Event "' + event.type + '" triggered for notification "' + notification.tag + '"<br />' + log.innerHTML;
              };
            });

            //set time out for noti.
            setTimeout(notification.close.bind(notification), 4000);
          });
        }

        document.getElementById('button-wn-show-preset').addEventListener('click', notifyUser);
        document.getElementById('button-wn-show-custom').addEventListener('click', notifyUser);
        document.getElementById('clear-log').addEventListener('click', function() {
          log.innerHTML = '';
        });
      }
</script>


