



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="glyphicon glyphicon-dashboard"></span>
            Announcement
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-12" id="announcement">           
        <p>This is a robot management system. Our robot is ready to serve.</p>
        {{!--<img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">--}}
    </div>

</div>



