



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="glyphicon glyphicon-dashboard"></span>
            Announcement
        </h1>
    </div>
</div>


<div class="row">
    <div id = "announcement">           
             <p>This is a robot management system. Our robot is ready to serve.</p> 
    </div>

</div>



