<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
$(document).ready(function(){
  $('input.typeahead').typeahead({
      name:'',
  });
}); -->
<!-- Page Content -->
<link href="../css/search.css" rel="stylesheet">



<div class="container">


<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->

    <!-- <div id="prefetch">
      <input class="typeahead" type="text" placeholder="Oscar winners for Best Picture">
    </div> -->
    <div class="col-lg-6">
        <h2>Custom search field</h2>
        <div id="prefetch">

          <div class="input-group col-md-12">
            <form>
            <fieldset>
            <div class="form-group">
              <input  class="form-control typeahead" type="text" name="query" id="query" placeholder="Restaurant Name, Type" />
              </div>
              <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
              </span>
            </fieldset>
          </form>
          </div>

        </div>
    </div>



    <div class="col-lg-8" >
      <!-- result-->
    </div>


    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Side Widget Well -->
        <div class="well">
            <h4>Related Recommendation</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>

</div>
