
<!-- Page Content -->



<div class="container">


<!-- Content Row -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                  <span class="glyphicon glyphicon-fire"></span>
                  Top Challenges
              </h1>
          </div>
      </div>
    <!--loop challenges-->
    <div class="row">
        {{#each chall}}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- rest name-->
                    <h4><i class="fa fa-fw fa-compass"></i>{{this.Name}}</h4>
                </div>
                <div class="panel-body" style="min-height: 10;">

                    <p><img src="{{this.ImageSrc}}" class="img-rounded" alt="Cinque Terre" width="304" height="236"></p>

                    <div class="comment">
                    <p>
                        {{this.Description}} <!-- Full text -->
                    </p>
                    </div>
                    <a href="/restaurant?rest={{this.ItemID}}" class="btn btn-default">
                        Detail
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


</div>
